<td>{{article.description}}</td>
<td>{{article.notes}}</td>
<td>{{article.createdAt}}</td>
<td>
  {{!-- use https://github.com/thefrontside/emberx-select --}}
  {{!-- binding the selection the article state --}}
  {{#x-select value=article.state action="saveArticle"}}
    {{#each articleStates as |state|}}
      {{#x-option value=state}}{{state}}{{/x-option}}
    {{/each}}
  {{/x-select}}
</td>
<td>
  {{!-- using isSaving DS.Model from http://emberjs.com/api/data/classes/DS.Model.html --}}
  {{#if article.isSaving}}
    <p>Saving ...</p>
  {{/if}}
</td>
